.about_box {
    margin: auto;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 1150px;
    }

.about-wrap {
    display: flex;
    margin: auto;
    margin-top: 5rem;
    width:  90%;
    height: 600px;
  }

.about_erik1,
.about_erik2 {
    line-height: 35px;
    margin: auto;
    margin-bottom: 3rem;
    width: 35%;
    text-align: left;
}

.about_erik1 {
    margin-top: 20rem;
}

.about_textwrap {
    margin: auto;
    display: block;
}

.about_pic_erik {
    margin: auto;
    width: 20%;
    margin-top: 10rem;
}