.section-card-contact {
    width: 100%;
    height: 800px;
    display: flex;
    margin: auto;
    margin-bottom: 5rem;
    border-radius: 20px;
    background-color: transparent;
  }

  .hero_banner {
    display: flex;
    margin: auto;
    border-radius: 10px;
    height: 400px;
    width: 80%;
    background-color:transparent;
    margin-bottom: 50px;
}

.hi_text {
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
  }

  .i_will {
    font-size: 1rem;
    font-weight: 500;
  }

  .hello_img {
    width: 50%;
  }
  

  .div-card-contact {
    width: 100%;
  }

  input[type="text"],
  textarea {
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 100%;
    color: black;
  }
  
  input[type="submit"] {
    background-color: #1ae4249d;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #1ae424e3;
    border: 1px solid black;
  }
  
  .container {
    border-radius: 5px;
    background-color: transparent;
    margin: auto;
    width: 60%;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
  }