.main_box {
    margin: auto;
    margin-top: 5rem;
    width: 50%;
    height: 1000px;
    border: hotpink solid 1px;
}

.inner_box{
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 70%;
    height: 900px;
    border: rgb(15, 66, 24) solid 1px;
}

.frontend_div {
    width: 100%;
    line-height: 2rem;
}

.text-wrap {
    display: flex;
    width: 30%;
}

.main-wrap {
    width: 90%;
    display: flex;
    text-align: center;
    margin: auto;
    align-content: center;
    justify-content: space-evenly;
}

.fp_erik {
    border-radius: 6rem;
    height: 30rem;
    width: 45%;
}