.frontend_div {
  width: 100%;
  line-height: 2rem;
}

.text-wrap {
  margin: auto;
  width: 60%;
  text-align: left;
}

.main-wrap {
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  width: 80%;
}

.skills_wrap {
  margin-top: 100px;
}

.fp_erik {
  margin: auto;
  border-radius: 4rem;
  width: 30%;
}

.ima_text {
  width: 100%;
}

.wrap_icons {
  margin: auto;
  display: flex;
  width: 100%;
  margin-bottom: 15rem;
}

.skills_div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.theskill {
  margin: auto;
}

.wrapwrap {
  text-align: center;
}

.wrap_icons {
  display: flex;
  justify-content: center;;
  width: 100%;
  flex-wrap: wrap;
}

.my_skills {
  margin-bottom: 2rem;
}