.main_box {
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  width: 90%;
  height: 700px;
  border: rgb(34, 190, 63) solid 1px;
}

.frontend_div {
  width: 100%;
  line-height: 2rem;
}

.text-wrap {
  margin: auto;
  display: block;
  width: 60%;
  text-align: left;
}

.main-wrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: red 2px solid;
  width: 90%;
  height: 500px;
}

.fp_erik {
  border-radius: 4rem;
  height: 30rem;
  width: 40%;
  margin-right: 5rem;
}

.ima_text {
  width: 100%;
}
