@media (max-width: 874px) {
  .logo {
    width: 60%;
  }

  body {
    width: 90%;
  }



  /*INDEX.HTML*/
  .main-wrap,
  .fp_erik, 
  .ima_text {
    display: block;
    width: 100%;
  }

  .main-wrap {
    height: 550px;
  }
  .ima_text,
  .animate__animated {
    margin-top: 2rem;
  }


  .fp_erik  {
    width: 60%;
  }

  .wrap_icons {
    margin: auto;
    display: flex;
    width: 100%;
    margin-bottom: 5rem;
  }


  /*HAMBURGER-MENU*/
  .header-nav {
    display: none;
  }

  .nav_hamburger {
    display: flex;
    position: absolute;
    right: 30px;
    top: 14px;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ecbb89;
    transition: top 1s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: rgb(187, 165, 147);
    font-size: 2rem;
  }



  /*CONTACT.HTML*/
  .hero_banner {
    height: 400px;
  }

  .about_erik1 {
    text-align: center;
    margin-top: 6rem;
    width: 70%;
    font-size: 1rem;
  }

  .about_erik2 {
  width: 70%;
  }

  .about_pic_erik {
    width: 75%;
  }



  /*ABOUT.HTML*/
  .about-wrap {
    display: block;
  }

  .about_pic_erik {
    margin: auto;
    width: 40%;
    
}





  /*FOOTER*/
  footer {
    width: 100%;
  }

}
