.projects_wrap {
    margin: auto;
    width: 50%;
    height: 1200px;
    text-align: center;
    display: block;
  }


  .animate__backInDown {
    margin-top: 5rem;
    font-size: 4rem;
}

  .wof_h3 {
      color:rgb(255, 255, 255);
      margin: auto;
      font-size: 2rem;
      width: 100%;
      margin-top: 5rem;
      text-decoration: underline 1px solid; 
  }

  .wof_h3:hover {
    transform: var(--bounce);
    transition: var(--transition);
  }

  .exam_description {
      margin: auto;
      width: 50%;
      margin-top: 1rem;
      line-height: 25px;
      font-weight: 200;
  }
