.projects_wrap {
    margin: auto;
    width: 50%;
    text-align: center;
    height: 1200px;
    display: block;
  }

  .animate__backInDown {
    margin-top: 5rem;
    font-size: 4rem;
}

  .wof_h3 {
      margin: auto;
      width: 27%;
      margin-top: 5rem;
      border-bottom: 1px solid white;
  }

  .exam_description {
      margin: auto;
      width: 50%;
      margin-top: 1rem;
      line-height: 25px;
      font-weight: 400;
  }

